
<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <span style="padding-top: 10px;">
      <img src="../assets/logo.png" alt="logo" style="border-radius: 100%;">    
    </span>
    <span style="margin-left: 5px;">Dedo que Indíca</span>
    <div style="margin-left: auto;">
      <a  mat-button routerLink="/home">Início</a>
      <a mat-button routerLink="#">Perfil</a>
      <a mat-button routerLink="#">Carteira</a>
      <a mat-button routerLink="#">Configurações</a>
      <a mat-button routerLink="/">Sair</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar> 
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64"> 
        <mat-nav-list class="nav-list">
          <span style="padding-top: 10px;">
            <img class="imauser" src="../assets/user.jpg" alt="logo">    
          </span>
          <div class="usuario">         
            <span >Olá, Usuário!</span><br/>
          </div>  
          <span style="font-weight: bold; margin-left: 18%;">O que gostaria de fazer?</span>
          <div>
            <a mat-list-item>
              <i class="material-icons">
                  table_rows
              </i>
              Captar Novos Clientes
            </a>
            <a mat-list-item>
              <i class="material-icons">
                dynamic_feed
              </i>
              Carteira de Clientes
            </a>
            <a mat-list-item>
              <i class="material-icons">
                  add_box
              </i>
              Cadastrar Novo Cliente
            </a>
            <a mat-list-item>
              <i class="material-icons">
                  person
              </i>
              Meus Dados
            </a>
            <button mat-button [matMenuTriggerFor]="gerencial">
              <i class="material-icons">
                settings
            </i>
              Gerenciamento</button>
              <mat-menu #gerencial="matMenu">
                <button mat-menu-item routerLink="/cliente">Clientes</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu> 
          </div>  
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>

  <div class="contener">
    <router-outlet></router-outlet>
  </div>
<mat-toolbar class="footer" >
  Desenvolvido por&nbsp;<span style="color: red; font-weight: bold;">KEN</span>
  <span style="font-weight: bold;">TEC</span>&nbsp; - Soluções em Infomática.
</mat-toolbar>