.forms{
    margin-top: 30px;
    margin-left: 15px;

}

.ip {
    min-width: 10px;
    max-width: 60px;
    width: 100%;
  }

.ii {
    min-width: 100px;
    max-width: 213px;
    width: 100%;
  }

.im {
    min-width: 100px;
    max-width: 250px;
    width: 100%;
  }
.ig {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
  }

.internal-form {
    margin-left: 100px;
    margin-top: 20px;
}
  
